<form action="/joinProc" method="post">
    <ul>
        <li>회원가입</li>
        <li>아이디 : <input type="text" name="user_id" value="<%= typeof user_id !== 'undefined' ? user_id : '' %>" required></li>
        <li>비밀번호 : <input type="text" name="user_pw" required></li>
        <li>이름 : <input type="text" name="user_name" value="<%= typeof user_name !== 'undefined' ? user_name : '' %>" required></li>
        <li>전화번호 : <input type="text" name="user_phone" value="<%= typeof user_phone !== 'undefined' ? user_phone : '' %>" required></li>
        <li>닉네임 : <input type="text" name="nickname" value="<%= typeof nickname !== 'undefined' ? nickname : '' %>" required></li>
        <button type="submit">가입하기</button>
    </ul>
    <% if (typeof error !== 'undefined') { %>
        <p style="color:red;"><%= error %></p>
    <% } %>
</form>
