<h2>검색 결과:</h2>
<ul>
  <% results.forEach(result => { %>
    <li><%= result.project_seq %> - <%= result.category %> - <%= result.teck_stack %> - <%= result.position %> - <%= result.way %></li>
  <% }); %>
</ul>

<!-- <h2>검색 결과:</h2>
<ul>
  <% projects.forEach(project => { %>
    <li>
      <a href="/project/<%= project.project_seq %>">
        <%= project.category %> - <%= project.teck_stack %> - <%= project.position %> - <%= project.way %>
      </a>
    </li>
  <% }); %>
</ul> -->

