<%- include('header') %>
    <h1>게시판이에요</h1>
    <table border="1">
        <tr>
            <th>category</th>
            <th>introduce_title</th>
            <th>teck_stack</th>
            <th>position</th>
            <th>deadline</th>
            <th>nickname</th>
        </tr>
        <% projects.forEach(project => { %>
            <tr>
                <td><%= project.category %></td>
                <td><a href="/project/<%= project.project_seq %>"><%= project.introduce_title %></a></td>
                <td><%= project.teck_stack %></td>
                <td><%= project.position %></td>
                <td><%= project.deadline %></td>
                <td><%= project.nickname %></td>
            </tr>
        <% }); %>
    </table>
