<ul>
    <li>my profile</li>
     <li> 닉네임 :  <%= member.nickname %></li>
     <li> 직무 : <%= member.job %></li>
     <li> 소속 : <%= member.affiliation %></li>
     <li> 경력 : <%= member.carrer %></li>
     <li> 자기소개 : <%= member.introduce%></li>
     <li> 관심스택 : <%= member.interest_stack %></li>
     <button id="editProfileButton">수정하기</button>
     <button id="backButton">뒤로가기</button>
</ul>
<script>
document.getElementById('editProfileButton').addEventListener('click', function() {
    window.location.href = '/profile_re';
});
document.getElementById('backButton').addEventListener('click', function() {
    window.history.back();
});
</script>