<%- include('header') %>

<div class="main_text1">
    <div class="top_project">
        <span>추천 프로젝트</span>
        <div class="turn_project"><img src="/images/좌측화살표.png">  <img src="/images/우측화살표.png"></div>
    </div>
    <ul class="icons">
        <li>
            <div class="icon_img">
                <img src="/images/c.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트1</div>
            <div class="hompage_top_contents1">추천 프로젝트1</div>	
            <div class="more">추천 프로젝트1</div>		
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/c++.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트2</div>
            <div class="hompage_top_contents1">추천 프로젝트2</div>
            <div class="more">추천 프로젝트2</div>
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/cc.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트3</div>
            <div class="hompage_top_contents1">추천 프로젝트3</div>
            <div class="more">추천 프로젝트3</div>
        </li>
    </ul>
    
    <div class="middle_project">
        <button id="all_button">전체</button>&emsp;
        <button id="popular_button">인기순</button>&emsp;
        <button id="recent_button">최신순</button>
     </div>
     <div class="select_search">
        <div class="select_category">
            <select name="category">
                <option selected disabled hidden>카테고리
                <option>프로젝트</option>
                <option>스터디</option>
            </select>
        </div>
        <div class="select_skill">
            <select name="skill_stack">
                <optgroup label="프론트엔드">
                    <option selected disabled hidden>기술스택
                    <option value="JavaScript">JavaScript</option>
                    <option value="TypeScript">TypeScript</option>
                    <option value="React">React</option>
                    <option value="Vue">Vue</option>
                    <option value="Svelte">Svelte</option>
                    <option value="Nextjs">Nextjs</option>
                </optgroup>
                <optgroup label="백엔드">
                    <option value="Nodejs">Nodejs</option>
                    <option value="Java">Java</option>
                    <option value="Spring">Spring</option>
                    <option value="Go">Go</option>
                    <option value="Nestjs">Nestjs</option>
                    <option value="Kotlin">Kotlin</option>
                    <option value="Express">Express</option>
                    <option value="MySQL">MySQL</option>
                    <option value="MonggoDB">MonggoDB</option>
                    <option value="Python">Python</option>
                    <option value="Django">Django</option>
                    <option value="php">php</option>
                    <option value="GraphQL">GraphQL</option>
                    <option value="Firebase">Firebase</option>
                </optgroup>
                <optgroup label="모바일">
                    <option value="Flutter">Flutter</option>
                    <option value="Swift">Swift</option>
                    <option value="ReactNative">ReactNative</option>
                    <option value="Unity">Unity</option>
                </optgroup>
                <optgroup label="기타">						
                    <option value="AWS">AWS</option>
                    <option value="Kubernetes">Kubernetes</option>
                    <option value="Docker">Docker</option>
                    <option value="Git">Git</option>
                    <option value="Figma">Figma</option>
                    <option value="Zeplin">Zeplin</option>
                    <option value="Jest">Jest</option>
                </optgroup>
            </select>
        </div>
        <div class="select_roll">
            <select name="roll">
                <option selected disabled hidden>역할
                    <option value="backend">백엔드</option>
                    <option value="frontend">프론트엔드</option>
                    <option value="designer">디자이너</option>
                    <option value="IOS">IOS</option>
                    <option value="android">안드로이드</option>
                    <option value="dev">데브옵스</option>
                    <option value="PM">PM</option>
                    <option value="planner">기획자</option>	
                    <option value="marketer">마케터</option>
            </select>
        </div>
        <div class="select_button">
            <form> 
                <button>
                    <img src="/images/돋보기.png">
                </button>
            </form>
        </div>
        <div class ="search_area">
            <form>
            	<input type="search" placeholder="프로젝트 키워드 입력">
				<span>검색</span> 
            </form>
        </div>
    </div>
    <div class="projectList_grid">
    <ul class="icons" id="projectList">
        <!-- Project list will be populated dynamically here -->
        <% projects.forEach(project => { %>
                <li>
                    <div class="icon_img">
                        <img src="/images/c.png">
                    </div>
                    <div class="hompage_top_contents1_bold"><%= project.introduce_title %></div>
                    <div class="hompage_top_contents1"><%= project.nickname %></div>    
                    <div class="more"><a href="/project/<%= project.project_seq %>">들어가기</a></div>      
                </li>
            <% }); %>
        </ul>
    </div>
    <div>
        <ol class="paging">
            <li class="first"><a href="/">첫페이지</a></li>
            <li class="prev"><a href="/">이전페이지</a></li>
            <% if (totalPages > 1) { %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <% if (i === currentPage) { %>
                        <li><a href="/" id="page<%= i %>" data-page="<%= i %>"><%= i %></a></li>
                    <% } else { %>
                        <li><a href="/" id="page<%= i %>" data-page="<%= i %>"><%= i %></a></li>
                    <% } %>
                <% } %>
            <% } %>
            <li class="next"><a href="/">다음페이지</a></li>
            <li class="last"><a href="/">마지막페이지</a></li>
        </ol>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const paginationLinks = document.querySelectorAll(".paging a");
        paginationLinks.forEach(link => {
            link.addEventListener("click", function(event) {
                event.preventDefault();
                const page = parseInt(this.getAttribute("data-page")); // 데이터 속성에서 페이지 번호 가져오기
                fetchProjects(page);
            });
        });

        function fetchProjects(page) {
            fetch('/?page=' + page)
            .then(response => response.text())
            .then(data => {
                // 받아온 데이터에서 프로젝트 목록 추출
                const startIndex = data.indexOf('<ul class="icons" id="projectList">');
                const endIndex = data.indexOf('</ul>', startIndex) + 5;
                const projectListHTML = data.substring(startIndex, endIndex);

                // 프로젝트 목록 업데이트
                document.getElementById('projectList').innerHTML = projectListHTML;
            })
            .catch(error => console.error('Error:', error));
        }
    });
</script>   

<%- include('footer') %>