<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<%- include('header') %>

<div class="main_text1">
    <div class="top_project">
        <span>추천 프로젝트</span>
        <div class="turn_project"><img src="/images/좌측화살표.png">  <img src="/images/우측화살표.png"></div>
    </div>
    <ul class="icons">
        <li>
            <div class="icon_img">
                <img src="/images/c.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트1</div>
            <div class="hompage_top_contents1">추천 프로젝트1</div>	
            <div class="more">추천 프로젝트1</div>		
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/c++.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트2</div>
            <div class="hompage_top_contents1">추천 프로젝트2</div>
            <div class="more">추천 프로젝트2</div>
        </li>
        <li>
            <div class="icon_img">
                <img src="/images/cc.png">
            </div>
            <div class="hompage_top_contents1_bold">추천 프로젝트3</div>
            <div class="hompage_top_contents1">추천 프로젝트3</div>
            <div class="more">추천 프로젝트3</div>
        </li>
    </ul>
    
    <div class="middle_project">
        <button id="all_button">전체</button>&emsp;
        <button id="popular_button">인기순</button>&emsp;
        <button id="recent_button">최신순</button>
    </div>
    <form id="searchCategoryForm"> <!--카테고리 form-->
    <div class="select_search">
        <div class="select_category">
            <select name="category">
                <option selected disabled hidden>카테고리</option>
                <option>프로젝트</option>
                <option>스터디</option>
            </select>
        </div>
        <div class="select_skill">
            <select name="skill_stack">
                <optgroup label="프론트엔드">
                    <option selected disabled hidden>기술스택</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="TypeScript">TypeScript</option>
                    <option value="React">React</option>
                    <option value="Vue">Vue</option>
                    <option value="Svelte">Svelte</option>
                    <option value="Nextjs">Nextjs</option>
                </optgroup>
                <optgroup label="백엔드">
                    <option value="Nodejs">Nodejs</option>
                    <option value="Java">Java</option>
                    <option value="Spring">Spring</option>
                    <option value="Go">Go</option>
                    <option value="Nestjs">Nestjs</option>
                    <option value="Kotlin">Kotlin</option>
                    <option value="Express">Express</option>
                    <option value="MySQL">MySQL</option>
                    <option value="MonggoDB">MonggoDB</option>
                    <option value="Python">Python</option>
                    <option value="Django">Django</option>
                    <option value="php">php</option>
                    <option value="GraphQL">GraphQL</option>
                    <option value="Firebase">Firebase</option>
                </optgroup>
                <optgroup label="모바일">
                    <option value="Flutter">Flutter</option>
                    <option value="Swift">Swift</option>
                    <option value="ReactNative">ReactNative</option>
                    <option value="Unity">Unity</option>
                </optgroup>
                <optgroup label="기타">						
                    <option value="AWS">AWS</option>
                    <option value="Kubernetes">Kubernetes</option>
                    <option value="Docker">Docker</option>
                    <option value="Git">Git</option>
                    <option value="Figma">Figma</option>
                    <option value="Zeplin">Zeplin</option>
                    <option value="Jest">Jest</option>
                </optgroup>
            </select>
        </div>
        <div class="select_roll">
            <select name="roll">
                <option selected disabled hidden>역할</option>
                    <option value="backend">백엔드</option>
                    <option value="frontend">프론트엔드</option>
                    <option value="designer">디자이너</option>
                    <option value="IOS">IOS</option>
                    <option value="android">안드로이드</option>
                    <option value="dev">데브옵스</option>
                    <option value="PM">PM</option>
                    <option value="planner">기획자</option>	
                    <option value="marketer">마케터</option>
            </select>
        </div>
                <div class="select_button">
                    <button type="button" id="searchCategoryButton">
                        <img src="/images/돋보기.png">
                    </button>
                </div> 
    </form> <!--카테고리form-->
        <!-------------------------------------------->
        <div class="search_area">
            <form id="searchForm" action="/" method="get">
                <input type="hidden" name="page" value="1">
                <input type="search" name="keyword" placeholder="프로젝트 키워드 입력">
                <span><button type="submit" id="searchButton">검색</button></span>
            </form>
        </div>
        <!-------------------------------------------->
    </div>
    <div class="projectList_grid">
        <ul id="projectList">
            <% projects.forEach(project => { %>
                <% if (project.project_seq) { %>
                    <li>
                        <div class="icon_img">
                            <img src="/images/c.png">
                        </div>
                        <div class="hompage_top_contents1_bold"><%= project.introduce_title %></div>
                        <div class="hompage_top_contents1"><%= project.nickname %></div>    
                        <div class="more"><a href="/project/<%= project.project_seq %>">들어가기</a></div>      
                    </li>
                <% } %>
            <% }); %>
        </ul>
    </div>
    <div>
        <ol class="paging">
            <li class="first"><a href="/">첫페이지</a></li>
            <li class="prev"><a href="/">이전페이지</a></li>
            <% if (totalPages >= 1) { %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <% if (i === currentPage) { %>
                        <li><a href="/?page=<%= i %>&keyword=<%= keyword %>" id="page<%= i %>" data-page="<%= i %>"><%= i %></a></li> <!-- 수정된 부분 -->
                    <% } else { %>
                        <li><a href="/?page=<%= i %>&keyword=<%= keyword %>" id="page<%= i %>" data-page="<%= i %>"><%= i %></a></li> <!-- 수정된 부분 -->
                    <% } %>
                <% } %>
            <% } %>
            <li class="next"><a href="/">다음페이지</a></li>
            <li class="last"><a href="/">마지막페이지</a></li>
        </ol>
    </div>
</div>
<script>
    $(document).ready(function() {
        // .paging a 태그 클릭 이벤트 처리
        $('.paging a').click(function(e) {
            e.preventDefault(); // 기본 동작인 페이지 새로고침을 막음
            var pageUrl = $(this).attr('href'); // 클릭한 링크의 URL 가져오기
            $.get(pageUrl, function(data) {
                $('#projectList').html($(data).find('#projectList').html()); // 프로젝트 목록 업데이트
                $('.paging').html($(data).find('.paging').html()); // 페이징 업데이트
                window.history.pushState(null, null, pageUrl); // 브라우저 히스토리 업데이트
            });
        });
    
        // searchCategoryButton 버튼 클릭 이벤트 처리
        $('#searchCategoryButton').click(function(e) {
            e.preventDefault(); // 기본 동작인 페이지 새로고침을 막음
            var form = $('#searchCategoryForm');
            var formData = form.serialize(); // 폼 데이터 가져오기
            $.get(form.attr('action'), formData, function(data) {
                $('#projectList').html($(data).find('#projectList').html()); // 프로젝트 목록 업데이트
                $('.paging').html($(data).find('.paging').html()); // 페이징 업데이트
                window.history.pushState(null, null, form.attr('action') + '?' + formData); // 브라우저 히스토리 업데이트
            });
        });
    });
    </script>
    
    


<%- include('footer') %>
