<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <h1>Projects</h1>
    <ul class="icons" id="projectList">
        <!-- Project list will be populated dynamically here -->
        <% projects.forEach(project => { %>
            <li>
                <div class="icon_img">
                    <img src="/images/c.png">
                </div>
                <div class="hompage_top_contents1_bold"><%= project.introduce_title %></div>
                <div class="hompage_top_contents1"><%= project.nickname %></div>    
                <div class="more"><a href="/project/<%= project.project_seq %>">들어가기</a></div>      
            </li>
        <% }); %>
    </ul>

    <div>
        <ol class="paging">
            <li class="first"><a href="/">첫페이지</a></li>
            <li class="prev"><a href="/">이전페이지</a></li>
            <% if (totalPages > 1) { %>
                <% for (let i = 1; i <= totalPages; i++) { %>
                    <% if (i === currentPage) { %>
                        <a href="/" id="page<%= i %>" data-page="<%= i %>"><%= i %></a>
                    <% } else { %>
                        <a href="/" id="page<%= i %>" data-page="<%= i %>"><%= i %></a>
                    <% } %>
                <% } %>
            <% } %>
            <li class="next"><a href="/">다음페이지</a></li>
            <li class="last"><a href="/">마지막페이지</a></li>
        </ol>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const paginationLinks = document.querySelectorAll(".paging a");
            paginationLinks.forEach(link => {
                link.addEventListener("click", function(event) {
                    event.preventDefault();
                    const page = parseInt(this.getAttribute("data-page")); // 데이터 속성에서 페이지 번호 가져오기
                    fetchProjects(page);
                });
            });
    
            function fetchProjects(page) {
                fetch('/board?page=' + page)
                .then(response => response.text())
                .then(data => {
                    // 받아온 데이터에서 프로젝트 목록 추출
                    const startIndex = data.indexOf('<ul class="icons" id="projectList">');
                    const endIndex = data.indexOf('</ul>', startIndex) + 5;
                    const projectListHTML = data.substring(startIndex, endIndex);

                    // 프로젝트 목록 업데이트
                    document.getElementById('projectList').innerHTML = projectListHTML;
                })
                .catch(error => console.error('Error:', error));
            }
        });
    </script>    
</body>
</html>
