<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" type="text/css" href="/css/post_view_see.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Jua&family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <div class="profile_top">
            <div class="profile_logo">
                <a href="/"><img src="/images/PM_logo_fin.png"></a><br>
                <span>Project Master</span><br><br>
            </div>
            <div class="menubar">
                <ul class="nav">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/board">게시판</a></li>
                    <% if(user_id){ %>
                    <li><a href="/mypage"><%=user_id%>님</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                    <% } else{ %>
                        <li><a href="/join">회원가입</a></li>
                        <li><a href="/login">로그인</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="bottom_wrap">
            <div class="bottom_bg">
                <div class="bottom">
                    <div class="post_top">
                        <div class="clip_margin"></div>
                        <div class="top_content">
                            <div class="post_title_area">
                                <div class="post_title">
                                    <div class="bt_menu">
                                        <a href="/"><img src="/images/back.png"></a>
                                        <div class=bt_update_delete></div><button class="bt_mark"><img src="/images/bookmark.png"></button>
                                    </div>
                                    <br>
                                    <h2><%= projects.introduce_title %></h2><br>
                                    <span class="title_span">프로필 사진 글쓴이</span>
                                    <span class="slash">l</span>
                                    <span class="title_span2"><%= projects.date %></span>
                                </div>
                            </div>
                            <div class="post_info_area">
                                <hr class="hr_design_di">
                                <div class="post_info">
                                    <div class="post_info_left">
                                        <div class="post_info_element">
                                            <span class="fix_element">모집 구분</span> &ensp; <span class="user_element"><%= projects.category %></span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">진행 방식</span> &ensp; <span class="user_element"><%= projects.way %></span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">기술 스택</span> &ensp; <span class="user_element"><%= projects.teck_stack %></span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">모집 분야</span> &ensp; <span class="user_element"><%= projects.position %></span>
                                        </div>
                                    </div>
                                    <div class="post_info_right">
                                        <div class="post_info_element">
                                            <span class="fix_element">모집 인원</span> &ensp; <span class="user_element"><%= projects.mem_number %></span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">진행 기간</span> &ensp; <span class="user_element"><%= projects.period %></span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">마감 기간</span> &ensp; <span class="user_element"><%= projects.deadline %></span>
                                        </div>
                                        <div class="post_info_element">
                                            <span class="fix_element">연락 방법</span> &ensp; <span class="user_element"><%= projects.contact %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post_mid">
                        <div class="post_introduce_area">
                            <div class="post_introduce">
                                <br><br><h2>프로젝트 소개</h2><br><hr class="hr_design"><br>
                                <span><%= projects.introduce_detail %></span>
                            </div>
                            <div class="see_count">
                                <img src="/images/see.png">&nbsp;<span>0</span> &ensp; <img src="/images/bookmark.png">&nbsp;<span>0</span>
                            </div>
                        </div>
                    </div>
                    <div class="post_bot">
                        <div class="post_comment_area">
                            <div class="post_comment">
                                <span class="pix_comment">댓글</span>&emsp;<span class="pix_comment_amount">0</span><br><br><hr class="hr_design"><br>
                                <span>[원래 댓글] 댓글 작성시간 / 닉네임 / 댓글 내용</span><br><br>
                                <div class="comment_area">
                                    <textarea class="comment" placeholder="댓글을 입력하세요"></textarea>&emsp;
                                    <button class="bt_comment btnFloat"></button></div>
                            </div>
                        </div>
                    </div>
                    <div class="post_join_area">
                        <div class="post_join">
                            <div class="post_join_list">
                                <form action="/apply" method="POST">
                                    <input type="hidden" name="project_seq" value="<%= projects.project_seq %>">
                                    <label for="position">직무 선택:</label>
                                    <select name="position" id="position">
                                        <option value="backend">백엔드</option>
                                        <option value="frontend">프론트엔드</option>
                                        <option value="designer">디자이너</option>
                                        <option value="IOS">IOS</option>
                                        <option value="android">안드로이드</option>
                                        <option value="dev">데브옵스</option>
                                        <option value="PM">PM</option>
                                        <option value="planner">기획자</option>	
                                        <option value="marketer">마케터</option>
                                        <!-- 필요한 다른 직무 옵션들을 추가할 수 있습니다 -->
                                    </select>
                                    <button type="submit" class="bt_join btnFloat2"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>