<%- include('header') %>
<h1>게시물 상세보기</h1>
<table border="1">
    <tr>
        <th>category</th>
        <td><%= projects.category %></td>
    </tr>
    <tr>
        <th>mem_number</th>
        <td><%= projects.mem_number %></td>
    </tr>
    <tr>
        <th>way</th>
        <td><%= projects.way %></td>
    </tr>
    <tr>
        <th>period</th>
        <td><%= projects.period %></td>
    </tr>
    <tr>
        <th>teck_stack</th>
        <td><%= projects.teck_stack %></td>
    </tr>
    <tr>
        <th>deadline</th>
        <td><%= projects.deadline %></td>
    </tr>
    <tr>
        <th>position</th>
        <td><%= projects.position %></td>
    </tr>
    <tr>
        <th>contact</th>
        <td><%= projects.contact %></td>
    </tr>
    <tr>
        <th>introduce_title</th>
        <td><%= projects.introduce_title %></td>
    </tr>
    <tr>
        <th>introduce_detail</th>
        <td><%= projects.introduce_detail %></td>
    </tr>
    <tr>
        <th>date</th>
        <td><%= projects.date %></td>
    </tr>
</table>
<a href="/board">목록으로 돌아가기</a>
<%- include('footer') %>