<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" href="/css/myapge.css">
</head>
<body>
    <div class="container">
        <h1>My Profile</h1>
        <ul>
            <li><span>닉네임:</span> <%= member.nickname %></li>
            <li><span>직무:</span> <%= member.job %></li>
            <li><span>소속:</span> <%= member.affiliation %></li>
            <li><span>경력:</span> <%= member.career %></li>
            <li><span>자기소개:</span> <%= member.introduce %></li>
            <li><span>관심스택:</span> <%= member.interest_stack %></li>
        </ul>
        <div class="buttons">
            <button id="editMyPageButton">수정하기</button>
            <button type="button" id="backButton">뒤로가기</button>
        </div>
    </div>
    <script>
        document.getElementById('editMyPageButton').addEventListener('click', function() {
            window.location.href = '/mypage_re';
        });
        document.getElementById('backButton').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>
</body>
</html>
